body {
    margin: 0;
    padding: 0;
    background-image: url('/frontend/src/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }